{% load static %}
{% block sidebar_left %}
<div class="card mt-3">
    <img src="{% static lst.pic.url %}" class="card-img-top" alt="{{lst.title}}" />
    <ul class="list-group list-group-flush feed">
        {% for pcl in pc_list %}
        <li class="list-group-item"><a href="{{ pcl.get_absolute_url }}" class="card-link">#{{pcl.name}}</a></li>
        {% endfor %}
    </ul>
    <div class="card-body">
        <h5 class="card-title">{{lst.title}}</h5>
        <p class="card-text pars">
            {% for parserl in parser_list %}
            <a href="{{ parserl.get_absolute_url }}" class="feedmenu{{parserl.id}} btn btn-light"
                style="color: {{parserl.ic_color}};">{{parserl.feed_name}} </a>                
            {% endfor %}
        </p>
    </div>
    
    
</div>


<div class="card-body">
<div class="d-flex justify-content-center info">
    {% for info in info_list %}
<a href="{{ info.get_absolute_url }}" > {{ info.name }} </a>
{% endfor %}
</div>
</div>
{% endblock %}